<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514721822363-osml6p47c1jtk9vv0l1s7ir56r6lm99i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514721822363-osml6p47c1jtk9vv0l1s7ir56r6lm99i</string>
	<key>API_KEY</key>
	<string>AIzaSyD8-P8UYhkk5Jof_AVOdJhhFmXNHdmP8IU</string>
	<key>GCM_SENDER_ID</key>
	<string>514721822363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maiuchida.LetsChat</string>
	<key>PROJECT_ID</key>
	<string>letschat-42721</string>
	<key>STORAGE_BUCKET</key>
	<string>letschat-42721.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514721822363:ios:159d40863c59298bdeb83e</string>
</dict>
</plist>